.message {
    font-weight: 600;
    color: blue;
}

header{
	width: 100%;
	background: #D8E3AB;
	height: 70px;
}

.title{
	font-size: 36px;
	padding-top: 10px;
	text-align: center;
}

.menu{
	list-style: none;
	position: absolute;
	top: 10px;
	right: 100px;
}

body {
    background-color: lightblue;
}

h1 {
    color: blue;
    margin-left: 20px;
}

